body {
  background-color: lightblue;
}

#wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chatForm {
  display: flex;
  height: 90vh;
  width: 90vw;
  background-color: pink;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  height: 200px;
  background-color: blue;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
  flex-grow: 3;
  height: 90%;
  background-color: red;
}

.boxTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: yellow;
  border: 2px solid black;
  padding: 10px;
  font-size: 2em;
}

.boxContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.useronline {
  font-size: 1.3em;
}

#sayHi {
  background-color: tomato;
}

#listMessages{
  height: 80%;
  background-color: white;
}
